div id="exclude_alert" class="modal fade" data-keyboard="false" data-backdrop="static" role="dialog" tabindex="-1"
  div class="modal-dialog"
    div class="modal-content"
      div class="modal-header"
        button type="button" class="close" data-dismiss="modal" aria-label="Close"
          span aria-hidden="true" &times;
        h4
          strong id="titulo" Excluir Lançamento

      div class="modal-body fields-form-lanc"
        strong Tem Certeza?
        br
        br
        div class="form-group"
          button type="submit" id="adiciona_lancamento" class="button btn btn-primary btn-sm" ng-click="exclude_launch()" Sim

          button type="button" id="btn_close" data-dismiss="modal" class="button btn btn-primary btn-sm pull-right" ng-click="close_exclude_dialog()" Não
