form class="form-inline"
  div class="input-group"
    div class="input-group-btn"
      button class="btn btn-primary" type="button" id="mes_anterior" ng-click="mes_anterior()"
        i class="glyphicon glyphicon-chevron-left"
    input class="form-control text-center" type="text" id="mes" readonly="readonly" ng-model="mes_selecionado"
    div class="input-group-btn"
      button class="btn btn-primary" type="button" id="mes_posterior" ng-click="mes_proximo()"
        i class="glyphicon glyphicon-chevron-right"
