div id="modal-lancamento" class="modal fade" data-keyboard="false" data-backdrop="static" role="dialog" tabindex="-1"
  div class="modal-dialog"
    div class="modal-content"
      div class="modal-header"
        button type="button" class="close" data-dismiss="modal" aria-label="Close"
          span aria-hidden="true" &times;
        h4
          strong id="titulo" {{titulo}}

      div class="modal-body"
        = form_tag "/lancamento", :id => "form_lancamento", :class => "", :role => "form", :multipart => true, :method => 'post' do
          input type="hidden" id="oid" ng-model="oid" name="lancamento[oid]"
          input type="hidden" id="acao" ng-model="acao"

          div class="row"
            div class="col-sm-6"
              div class="basic-info"

                div class="checkbox"
                  label for="recorrencia_opcao"
                    input type="checkbox" id="recorrencia_opcao" name="recorrencia[ativado]" data-toggle="collapse" data-target="#recurrence-options" aria-expanded="false" aria-controls="recurrence-options"
                    | Recorrente

                div class="form-group"
                  label for="data" class="" Data
                  input type="text" id="data" name="lancamento[data]" required="" class="form-control" ng-model="data_lancamento"

                div class="form-group"
                  label for="valor_previsto" class="" Valor Previsto
                  input type="text" id="valor_previsto" name="lancamento[valor_previsto]" required="" class="form-control" ng-model="valor_previsto"

                div class="form-group"
                  label for="descric" Descricao
                  input type="text" id="description" name="lancamento[descricao]" required="" class="form-control" ng-model="description"

                /div class="form-group"
                /  label for="descric" Tag
                /  tags-input ng-model="tags" add-on-paste="true"
                /    auto-complete source="loadTags($query)"


                div class="form-group" id="div_valor_realizado"
                  label for="valor_realizado" Valor Realizado
                  input type="text" id="valor_realizado" name="lancamento[valor_realizado]" class="form-control" ng-model="valor_realizado"

            div class="col-sm-6"
              div id="frm_recorrencia" class="clearfix"

                div class="collapse" id="recurrence-options"
                  div class="form-group"
                    label for="recorrencia_periodicidade" Periodicidade
                    select class="recorrencia" id="recorrencia_periodicidade" name="recorrencia[periodicidade]" required=false class="form-control"
                      option
                        option value="Diário" Diário
                        option value="Semanal" Semanal
                        option value="Quinzenal" Quinzenal
                        option value="Mensal" Mensal
                        option value="Bimestral" Bimestral
                        option value="Semestral" Semestral
                        option value="Anual" Anual

                  div class="form-group"
                    label for="recorrencia_data_fim" Data Fim
                    input type="text" class="recorrencia" id="recorrencia_data_fim" name="recorrencia[data_fim]" value="{{recorrencia_data_fim}}" required="" class="form-control"

                  div class="checkbox form-group"
                    label for="opcao_parcelas"
                      input type="checkbox" id="opcao_parcelas" name="recorrencia[parcelado]" novalidate="" disabled=""
                      | Parcelas

                  div class="form-group"
                    label for="recorrencia_quantidade_parcelas" Quantidade de Parcelas
                    input type="number" min="2" class="texto parcelas form-control" id="recorrencia_quantidade_parcelas" name="recorrencia[quantidade_parcelas]" required=false

                  div class="form-group"
                    label for="recorrencia_parcela_inicial" Parcela Inicial
                    input type="number" min="1" class="texto parcelas form-control" id="recorrencia_parcela_inicial" name="recorrencia[parcela_inicial]" value="1" required=false
          br
          div class="form-group"
            button type="submit" id="adiciona_lancamento" class="button btn btn-primary btn-sm" Salvar

            button type="button" id="btn_close" data-dismiss="modal" class="button btn btn-primary btn-sm pull-right" ng-click="limpa_formulario_lancamento()" Fechar
