div id="form-balance" class="modal fade" data-keyboard="false" data-backdrop="static" role="dialog" tabindex="-1"
  div class="modal-dialog"
    div class="modal-content"
      div class="modal-header"
        button type="button" class="close" data-dismiss="modal" aria-label="Close"
          span aria-hidden="true" &times;
        h4
          strong id="titulo" Atualizar Saldo Atual

      div class="modal-body fields-form-lanc"
        == render 'dashboard/frm_balance'
