= form_tag "/saldoatual", :id => "form_saldo_atual", :class => "form_saldo_atual", :'ng-submit' => "submit_saldo_atual($event)", :role => "form", :multipart => true, :method => 'put' do

  div class="input-group div-saldo-atual"
    div class="input-group-addon" id="basic-addon1"
      span Saldo
    input type="text" id="saldoAtual" name="valor" class="form-control saldo-atual" ng-model="saldo_atual" aria-describedby="basic-addon1"
    div class="input-group-btn"
      button type="submit" id="salva_saldo" class="btn btn-primary ladda-button"
        span class="ladda-label" Salvar
