= stylesheet_link_tag "dashboard", media: "all", "data-turbolinks-track" => true
= stylesheet_link_tag "ng-tags-input.bootstrap.min", media: "all", "data-turbolinks-track" => true

= javascript_include_tag "ng-tags-input.min"

div class="container page-body"
    div class="row"
      div id="control-mobile" class="visible-xs-inline row"
        div class="col-xs-5"
          button class="btn btn-primary btn-sm col-42" type="button" ng-click="open_balance_form()"
            | Saldo&nbsp;
            span class="badge"
              | {{saldo_atual}}

        / div class="col-xs-3 checkbox no-margin-left"
        /  label for="finalizados_opcao"
        /    input type="checkbox" id="finalizados_opcao" ng-model="exibir_finalizados" ng-change="busca_lancamentos()"
        /    | Finalizados
        /div class="col-xs-3 adjust-margin-side" data-toggle="buttons"
          /label class="btn btn-primary btn-sm"
            /input type="checkbox" autocomplete="off"
            /span class="glyphicon glyphicon-ok"
            /| Finalizados

        div class="col-xs-3 adjust-margin-left"
          span class="button-checkbox"
            button type="button" class="btn btn-sm" data-color="primary" Finalizados
            input type="checkbox" class="hidden" id="finalizados_opcao" ng-model="exibir_finalizados"

        div class="col-xs-4 display-inline adjust-margin-side"
          button id="btn-mes" class="btn btn-primary btn-sm col-30" type="button" ng-click="open_month_selector_form()"
            | Mês&nbsp;
            span class="badge"
              | {{mes_selecionado}}

        == render 'dashboard/frm_balance_modal'
        == render 'dashboard/frm_month_selector_modal'

      div id="control-mobile" class="visible-xs-inline row"
        div class="col-xs-6"
          button type="button" id="btn_add_lancamento" class="btn btn-primary btn-sm" ng-click="abre_formulario_lancamento()"
            | Novo Lançamento

      div id="control" class="visible-sm-inline visible-md-inline visible-lg-inline"

        div class="col-sm-4"
          div class="row"
            div class="col-md-12"
              == render 'dashboard/frm_balance'
          span
            |{{saldo_atual}}

        div class="col-sm-2"
          span class="button-checkbox"
            button type="button" class="btn btn-sm" data-color="primary" Finalizados
            input type="checkbox" class="hidden" id="finalizados_opcao" ng-model="exibir_finalizados"

        div class="col-sm-3"
          == render 'dashboard/frm_month_selector'

        div class="col-sm-3 col-md-offset-0"
          button type="button" id="btn_add_lancamento" class="btn btn-primary pull-right" ng-click="abre_formulario_lancamento()" Novo Lançamento

    hr

    div class="row linha-tabela" ng-repeat="lanc in lancamentos"
      div class="col-md-12 col-table"
        div class="pull-left date-div"
          div
            span class="col-title" Data
          div
            span
              |{{lanc.data | date:'dd/MM/yyyy' : 'UTC'}}

        div class="description-div pull-left hidden-xs"
          div
           span class="col-title hidden-xs" Descrição
          div
            span
              |{{lanc.descricao}}

        div class="pull-right command-div"
          button class="btn btn-primary hidden-xs" type="button" href="Javascript:void(0)" name="{{lanc.oid}}" ng-click="finaliza_lancamento(lanc.oid)"
            i class="glyphicon glyphicon-ok"
          button class="btn btn-primary btn-xs hidden-md hidden-sm hidden-lg" type="button" href="Javascript:void(0)" name="{{lanc.oid}}" ng-click="finaliza_lancamento(lanc.oid)"
            i class="glyphicon glyphicon-ok"

          button class="btn btn-warning hidden-xs" type="button" href="Javascript:void(0)" name="{{lanc.oid}}" ng-click="edita_lancamento(lanc.oid)"
            i class="glyphicon glyphicon-edit"
          button class="btn btn-warning btn-xs hidden-md hidden-sm hidden-lg" type="button" href="Javascript:void(0)" name="{{lanc.oid}}" ng-click="edita_lancamento(lanc.oid)"
            i class="glyphicon glyphicon-edit"

          button class="btn btn-danger hidden-xs" type="button"  href="Javascript:void(0)"name="{{lanc.oid}}" ng-click="open_exclude_dialog( lanc.oid )"
            i class="glyphicon glyphicon-trash"
          button class="btn btn-danger btn-xs hidden-md hidden-sm hidden-lg" type="button"  href="Javascript:void(0)"name="{{lanc.oid}}" ng-click="open_exclude_dialog( lanc.oid )"
            i class="glyphicon glyphicon-trash"

        div class="pull-right values estimated-value right hidden-xs"
          div
            span class="col-title" Saldo
          div
            span ng-class="define_classe_valor(lanc.saldo_previsto)"
              |{{lanc.saldo_previsto}}

        div class="pull-right values estimated-value estimated-value-2"
          div
            span class="col-title" Valor
          div
            span ng-class="define_classe_valor(lanc.valor_previsto)"
              |{{lanc.valor_previsto}}


        div class="clearfix"

        div class="bottom-line hidden-sm hidden-md hidden-lg"
          div
            span class="col-title" Descrição
          div
            span
              |{{lanc.descricao}}

    == render 'dashboard/exclude_alert'
    == render 'dashboard/frm_lancamento'
