.page-body{
  background-color:#f5f5f5;
  padding:10px 10px;
  margin-bottom:20px;
}

.date-div{
  width:95px;
  min-width:95px;
}

.linha-tabela{
  background-color:#dcdcdc;
  margin:0px;
  padding:5px;
  margin-bottom:3px;
}

.col-table{
  padding:2px 7px;
}

.values{
  margin-right:15px;
  width:75px;
}

span.col-title{
  color:#999;
}

.command-div button{
  margin-left:5px;
}


.btn span.glyphicon {
	opacity: 0;
}
.btn.active span.glyphicon {
	opacity: 1;
}


/* Estilos para Tags */
.tags {
   margin-bottom: 5px;
}

.tags input[type="text"] {
  border-width:0;
  outline: none;
  width:95px;
  font-size:12px;
  margin-left: 5px;
}

.tags .form-control {
   height:auto;
   padding:5px;
   max-width:86%;
   vertical-align:bottom;
}

.tags .tag {
   display: inline-block;
   margin-right: 4px;
   font-size: 13px;
}

.tag .close {
   font-size: 14px;
   margin-left: 5px;
}

.tag-list {
  padding-left: 5px;
}
.tag-list li {
  display: inline-block;
  margin-right: 3px;
  padding: 5px;
  margin-top: 10px;
}
