.page-body{
  background-color:#f5f5f5;
  padding:10px 10px;
  margin-bottom:20px;
}

.date-div{
  width:95px;
  min-width:95px;
}

.description-div{
}

.command-div{
  width:149px;
}

.linha-tabela{
  background-color:#dcdcdc;
  margin:0px;
  padding:5px;
  margin-bottom:3px;
}

.col-table{
  padding:2px 7px;
}

.values{
  margin-right:15px;
  width:90px;
}

span.col-title{
  color:#999;
}

.command-div button{
  margin-left:5px;
}















#btn_add_lancamento {
	width: 100%;
}

.col-25 {
	width: 25%;
}

.col-30 {
	width: 30%;
}

.col-42 {
	width: 42%;
}

.controller-1 {
	float: left;
	width: 100%;
	margin-bottom: 5px;
}

.controller-2 {
	float: right;
	width: 100%;
}

.div-saldo-atual {
	width: 200px;
}

.month_selector {
	width: 130px;
	text-align: center;
}

.month_selection {
	padding: 3px 0 3px 0;
}

/*
	Classes para Tabela
*/
.tabela {
	margin-top: 20px;
	border: 1px solid #000;
	padding: 3px;
}

.table-line {
	border-top: 1px solid #000;
	padding: 3px;
	background-color: lightgray;
}

.table-line label {
	font-size: 0.95em;
	color: #696969;
}

.top-line {
	padding: 3px;
}

.top-line div {
	padding-left: 5px;
}

.estimated-value {
	margin-right: 3px;
	padding-right: 3px;
	border-right: 1px solid #fff;
}

.estimated-value-2 {
	border-left: 1px solid #fff;
}

.bottom-line {
	margin-top: 3px;
	padding: 3px;
	border-top: 1px solid #fff;
}

.bottom-line div {
	display: inline;
	margin-right: 3px;
}

.commands button {
	margin-left: 3px;
}

/*
	Classes para formulário de lançamento
*/

dialog {
    border-radius: 6px;
    border: 1px solid rgba(0,0,0,.4);
    box-shadow: 0 0 5px rgba(0,0,0,.4);
}

dialog::backdrop {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.4);
}

.form-lancamento {
	padding: 7px;
	label {
		display: block;
	}
}

.frm_recorrencia {
	background-color: blue;
}

footer {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}
