- flash.each do |name, msg|
  - if msg.is_a?(String)
    div[class="alert-box radius #{name.to_s == 'notice' ? 'success' : 'alert'}" data-alert]
      = content_tag :div, msg
      a.close[href="#"]
        | ×
