/nav class=""
/	= link_to 'Dashbord', dashboard_path
/	a href="#" Lançamentos
/	a href="#" Relatórios
/	= link_to 'Investimentos', investments_index_path
/	= link_to 'Sair', destroy_user_session_path, :method => :delete


nav class="navbar navbar-default custom-header"
	div class="container-fluid"
		div class="navbar-header"
			a class="navbar-brand navbar-link" href="/dashboard" Econodin
			button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
				span class="sr-only" Toggle navigation
				span class="icon-bar"
				span class="icon-bar"
				span class="icon-bar"

		div class="collapse navbar-collapse" id="navbar-collapse"
			ul class="nav navbar-nav links"
				li role="presentation"
					a href="#" Dashboard
				li role="presentation"
					a href="#" Lançamentos
				li role="presentation"
					a href="#" Relatórios
				li role="presentation"
					a href="#" class="custom-navbar" Investimentos
			ul class="nav navbar-nav navbar-right"
				li class="dropdown"
					a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#"
						span class="caret"
						i class="glyphicon glyphicon-user dropdown-image"
					ul class="dropdown-menu dropdown-menu-right" role="menu"
						li role="presentation" class="active"
							= link_to 'Sair', destroy_user_session_path, :method => :delete
