doctype html
html lang="pt-br" ng-app="econodin"
  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    title
      = content_for?(:title) ? yield(:title) : 'Econodin'
    meta name="description" content="#{content_for?(:description) ? yield(:description) : 'Econodin'}"
    == stylesheet_link_tag "application", :media => 'all', 'data-turbolinks-track' => true
    == javascript_include_tag 'application', 'data-turbolinks-track' => true
    == csrf_meta_tags

  body ng-controller="DashboardController as dashboard" ng-init="busca_saldo_atual()"
    header class=""
      == render 'layouts/navigation'
    main[role="main" ng-view=""]
      == render 'layouts/messages'
      == yield
    footer class="footer-style"
      div class="container"
        div class="row"
          div class="col-md-6"
            h5 Econodin - Contrrole Financeiro Pessoal
